  
{% extends 'base/base2.html' %}

{% block css %}
<style>


  .box {
    /*text-align: center;*/
    width: 97.5%;
    border: 1px solid snow;
    float: left;
    border-radius: .4rem;
    margin-left: 1rem;

  }  

  .box0 {
    /*text-align: center;*/
    width: 100px;
    background:#836FFF;
    /*margin:1px;*/
    height: 20px;
    overflow:hidden;
    float: left;
    border: 1px solid snow;
    border-radius: .4rem;
    margin-left: 1rem;

  }  


  .box1 {
    /*text-align: center;*/
    width: 200px;
    /*margin:1px;*/
 /*   height: 85px;*/
    float: left;
    border: 1px solid snow;
    border-radius: .4rem;
    /*margin-left: 1rem;*/

  }  


</style>
{% endblock %}

{% block m_content %}

<form action="/file_upload/file?dir_name=templates/echarts_pg/engine_json" enctype="multipart/form-data" method="post">
<input name="file" type="file">
<input type="submit" value="上传json">
</form>
<br>


{% for item in j_dict %}
<h3 style="font-weight: bold;float:left;color:black;border:1px solid black;border-radius: .4rem;">{{item}}</h3>

<div class="box">
  {% for list_i in j_dict[item] %}
    <div style="float:left">
    <div class="box0" style="background: {{color_c_dict[item]}};border:1px solid black;"><a style="">{{list_i.name}}</a></div>

      <div class="box1" style="background:#E0EEE0">
        <a href="/echarts_pg/engine_json_run?jname={{list_i.name}}.json&run_type=copy" style="background: limegreen;color:white;border-radius: .4rem;">副本js</a>
        <a href="/echarts_pg/engine_json_run?jname={{list_i.name}}.json&run_type=cover" style="background: red;color:white;border-radius: .4rem;">覆盖js</a>
        <a href="/echarts_pg/engine_json_run?jname={{list_i.name}}.json&run_type=delete" style="background: #9B30FF;color:white;border-radius: .4rem;">转移</a>
        <a href="/file_tree/file_str?eco_f_path=templates/echarts_pg/engine_json/{{list_i.name}}.json" style="background: #00BFFF;color:white;border-radius: .4rem;">下载</a>
      </div>

    </div>
  {% endfor %}
  
</div>

{% endfor %}


{% endblock %}